.post-container {
  width: 90%;
  background-color: var(--form-color);
  padding: 1rem;
  margin: 1rem;
  display: flex;
  box-shadow: 0.5rem 0.5rem var(--primary-color);
}

.categories {
  display: flex;
}

.post-image {
  max-width: 25rem;
  border-radius: 0.5rem;
}

.post-content {
  padding: 1rem;
}

