.postcard-container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  box-shadow: 0.5rem 0.5rem var(--primary-color);
  border: 1.5px solid rgba(41, 101, 170, 0.8);
}

.postcard-container:hover {
  background-color: rgb(218, 230, 236);
}

.postcard-container:hover {
  cursor: pointer;
}

.categories {
  display: flex;
}

@media (max-width: 767px) {
  .postcard-container {
    width: 100%;
  }
}

