.postcard-container {
  width: 90%;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  box-shadow: 0.5rem 0.5rem var(--primary-color);
}

.postcard-container:hover {
  background-color: rgb(218, 230, 236);
}

.postcard-container:hover {
  cursor: pointer;
}

.categories {
  display: flex;
}

.post-image {
  max-width: 100%;
  border-radius: 0.5rem;
}

.post-content {
  padding: 1rem;
}

