.header-container{
    display: flex;
    align-items: center;
}
.post-container {
    display: flex;
    flex-direction: column;
}

.post-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.post-content > img {
    width: 100%;
    height: auto;
}

.image-container {
    display: flex;
    max-width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.info-container {
    display: flex;
    justify-items: space-around;
    margin-bottom: 1rem;
}

@media (min-width: 767px) {
    .post-content {
        max-width: 50rem;;
    }    
}