.top-menu {
  background-color: var(--primary-color);
  text-align: center;
  display: flex;
  justify-content: center;  
  align-items: center;
  font-family: 'Share Tech', sans-serif;
  font-size: 0.9rem;
  padding: 0.5rem;
  position: fixed;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}

.header-link {
  text-decoration: none;
  padding-right:0.5rem;
  padding-left:0.5rem;
  color: white;
}

.header-link:hover {
  color: var(--third-color);
}

.header-link.active {
  border-top: 0.2rem solid white;
}

@media (min-width:768px){
  .top-menu {
    font-size: 1.5rem;;
  }
  .header-link {
    padding-right:1rem;
    padding-left:1rem;
  }
}

