.top-menu {
  background-color: var(--primary-color);
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Share Tech', sans-serif;
  font-size: 1.5rem;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  margin-right: 20px;
  color: white;
}

a:hover {
  color: var(--third-color);
}

a.active {
  border-top: 0.2rem solid white;
}
