.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(2rem, auto);
    row-gap: 1rem;
    column-gap: 0.5rem;
}

.header{
    grid-column: 1/6;
    grid-row: 1/2;  
}

.personal-image{
    grid-column: 3/6;
    grid-row: 2/8;
}   
.personal-card{
    grid-column: 3/6;
    grid-row: 8/17;
}
.body{
    grid-column: 1/3;
    grid-row: 2/8;
}

