.form-input{
    font-family: 'Share Tech', sans-serif;
    width: 15rem;
    height: 1.5rem;
    font-size: 1rem;
    font-weight: 200;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: left;
    margin: 0.5rem;
    border: none;
}
.form-input:focus {
    outline: none;
}