.email-button {
  width: 10rem;
  height: 3rem;
  background-color: var(--fourth-color);
  border-radius: 1rem;
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.email-button:active{
    transform: scale(0.9);
    transition: 0.2s;
}
